/**
 * = PRINT styles
 *
 * - Imported in global.css (http://www.phpied.com/delay-loading-your-print-css/)
 * - Taken straight from: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L197
 *
 * @TODO:
 * - Add to this?
 *
 * ========================================================================= */

/* stylelint-disable declaration-no-important  */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	p:first-line,
	div:first-line,
	blockquote:first-line,
	li:first-line {
		/* background: transparent !important; */
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

.custom-list {
    /* list-style: none; */
}

.custom-list li {
    padding-bottom: 7px;
}

.custom-list ul {
    list-style: none;
    margin-top: 10px;
}

h4, h2, h3,h4:first-letter, h2:first-letter, h3:first-letter,h4:first-line, h2:first-line, h3:first-line {
    font-weight: normal;
    color: #0085ff !important;
}
	@page {
    margin: 0;
}

header svg {
}

	a,
	a:visited { text-decoration: underline; }

/* 	a[href]:after { content: " (" attr(href) ")"; } */

	abbr[title]:after { content: " (" attr(title) ")"; }

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after { content: ""; }

	pre { white-space: pre-wrap !important; }

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 { page-break-after: avoid; }

    table { page-break-before:avoid }

table {
    width: 100%;
}

table.custom th {
    font-weight: normal;
}

table th {}
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }

.print-style tr td {
    border-bottom: solid 1px #dcdcdc;
    padding: 5px;
}

.print-style th {
    font-weight: normal;
}

.print-style {
    border-collapse: collapse;
}
  thead {display:table-header-group;position: relative;z-index: 1000000000;}
  tfoot { display:table-footer-group }

	/**
	 * Or go Nuclear and use this:
	 * from: https://medium.com/@matuzo/i-totally-forgot-about-print-style-sheets-f1e6604cfd6#.9de6r4yhr
	 *
	 *   body > *:not(main) { display: none; }
	 *
     */
     .hide-print{
         display: none;
     }
     .show-print{
         display: block;
     }
     .aside-wrapper{
         background: transparent;
         border: 0;
         box-shadow: none;
         position: static;
         width: auto;
     }
     .tab-panel-content{
     	transform: translateX(0%);
     	position: static;
     	padding-left: 0;
     	padding-right: 0;
     	overflow: hidden;
     }

.tab-panel,.main-content {
    position: static;
    pointer-events: auto;
    background: transparent;
}

.main-content,p {
}

footer p, footer p:first-line, footer p:first-letter {
    color: #dbdee0 !important;
}

.perspective-wrapper{
    min-height: 450px;
}
.perspective{
    transform: scale(0.4) translateX(-68%) translateY(-170px);
}
.perspective *{
    font-weight: normal;
    font-size: 22px;
    font-family: arial;
    color:#000!important;
}
.shape > span{
	/* background: #dc1212bd; */
}
.shape .shape.contain > span,.shape .shape.contain.switch > span{background: transparent;}
.main-wrapper,body,html{
	background: transparent;
}
.content-wrapper{
	width:100%;
}
.page-break{
	page-break-after: always;
}
.spacer{
	min-height:120px;
}

thead{
	margin-top: 150px;
}
.main-thead{
	height: 70px;
}
.main-foot{
	height: 43px;
}
strong{
	font-weight:normal;
}
}
/* stylelint-enable */